<div class="hero-section">
  <div class="hero-section__intro">
    <h1>Wedding <br>
      Dance <br>
      Lessons</h1>
    <h4>New Jersey</h4>
    <p>The wedding dance is one of the most important dances in your life. You look perfect and the whole
      audience is looking at you. Also, it becomes the favorite moment you like to play on videos and
      photos. Feel the moment</p>
    <a class="button button-red">Let's start</a>
  </div>
  <div class="hero-section__image">
    <img src="./assets/img/first-dance-i.jpg" alt="">
  </div>
</div>
