<div class="section">
  <h2 class="section__title">Our Services</h2>
  <p class="section__description">
    We want to make your wedding day perfect that is why suggest a lot of options for dance: not only for a
    bride and groom but for their friends and relatives
  </p>
  <div class="our-services">
    <div class="our-services__items">
      <img src="./assets/img/image-1.jpg" alt="">
      <h2>For Bride and Groom</h2>
      <a href="#" tabindex="0">First Dance</a>
      <a href="#" tabindex="0">Parent &amp; Child Dance</a>
    </div>
    <div class="our-services__items">
      <img src="./assets/img/image-2.jpg" alt="">
      <h2>For Guests</h2>
      <a href="#" tabindex="0">Groomsmen Dance</a>
      <a href="#" tabindex="0">Parent Dance</a>
      <a href="#" tabindex="0">Children’s Dance</a>
    </div>
    <div class="our-services__items">
      <img src="./assets/img/image-3.jpg" alt="">
      <h2>Other events</h2>
      <a href="#" tabindex="0">First Dance</a>
      <a href="#" tabindex="0">Parent &amp; Child Dance</a>
    </div>
  </div>
</div>
