.section {
  position: relative;
  margin-top: 100px;

  &__title {
    font-size: 36px;
    font-weight: 600;
  }

  &__description {
    max-width: 668px;
    margin-top: 24px;
    margin-bottom: 48px;
    line-height: 1.5;
  }
}

.our-services {
  display: flex;
  justify-content: space-between;
  background-color: rgba(207, 207, 207, 0.25);
  box-shadow: 0 2px 30px rgba(207, 207, 207, 0.25);

  &__items {
    height: 640px;
    margin: 12px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #fff;

    img {
      border-radius: 2px;
    }

    h2 {
      margin: 40px 0 24px;
      padding-left: 40px;
      font-size: 24px;
      font-weight: 600;
    }

    a {
      padding-left: 40px;
      padding-top: 8px;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
