<div class="section">
  <h2 class="section__title">Our Coaches</h2>
  <p class="section__description">
    Coaches in our school are not only perfect dancers but also have a big experience in coaching that
    is why you will feel really amazing after each of your class
  </p>

  <div class="slider">
    <div class="slider__item">
      <div class="slider__item image">
        <img src="./assets/img/coach_1.jpg" alt="">
      </div>
      <div class="slider__item content">
        <div>
          <h3>01</h3>
          <h2>Ann Walker</h2>
          <p>Dancer</p>
        </div>
        <div>
          <p>Work experience <span>8 years</span></p>
          <p>Teacher for <span>3 years</span></p>
          <p>Style <span>Viennese Waltz, Salsa</span></p>
        </div>
        <a class="button button-red" href="#">Let's start</a>
        <a class="button button-red-circle" href="#">
          <img src="./assets/icons/row-right.svg" alt="">
        </a>
      </div>
    </div>

    <div class="slider__item">
      <div>
        <img src="./assets/img/coach_2.jpg" alt="">
      </div>
      <div class="slider__item content">
        <div>
          <h3>02</h3>
          <h2>Tom Wilspon</h2>
          <p>Dancer</p>
        </div>
        <div>
          <p>Work experience <span>10 years</span></p>
          <p>Teacher for <span>5 years</span></p>
          <p>Style <span>HipHop</span></p>
        </div>
        <a class="button button-red" href="#">Let's start</a>
        <a class="button button-red-circle" href="#">
          <img src="./assets/icons/row-right.svg" alt="">
        </a>
      </div>
    </div>

    <div class="slider__item">
      <div>
        <img src="./assets/img/coach_3.jpg" alt="">
      </div>
      <div class="slider__item content">
        <div>
          <h3>03</h3>
          <h2>Ann Walker</h2>
          <p>Dancer</p>
        </div>
        <div>
          <p>Work experience <span>8 years</span></p>
          <p>Teacher for <span>3 years</span></p>
          <p>Style <span>Viennese Waltz, Salsa</span></p>
        </div>
        <a class="button button-red" href="#">Let's start</a>
        <a class="button button-red-circle" href="#">
          <img src="./assets/icons/row-right.svg" alt="">
        </a>
      </div>
    </div>

    <div class="slider__item">
      <div>
        <img src="./assets/img/coach_4.jpg" alt="">
      </div>
      <div class="slider__item content">
        <div>
          <h3>04</h3>
          <h2>Tom Wilspon</h2>
          <p>Dancer</p>
        </div>
        <div>
          <p>Work experience <span>10 years</span></p>
          <p>Teacher for <span>5 years</span></p>
          <p>Style <span>HipHop</span></p>
        </div>
        <a class="button button-red" href="#">Let's start</a>
        <a class="button button-red-circle" href="#">
          <img src="./assets/icons/row-right.svg" alt="">
        </a>
      </div>
    </div>

  </div>
</div>
