body {
  margin: 0;
  padding: 0;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #001c2c;
}
.preloader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
.form-control.ng-touched.ng-invalid {
  border-left: 2px solid red;
}
.form-control.ng-touched.ng-valid {
  border-left: 2px solid green;
}
