<form [formGroup]="form">
  <div class="form-group">
    <label for="userEmail">Email</label>
    <input
      formControlName="email"
      id="userEmail"
      type="text"
      class="form-control">
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      Email is required
    </div>
  </div>
  <div class="form-group">
    <label for="userPassword">Password</label>
    <input
      formControlName="password"
      id="userPassword"
      type="password"
      class="form-control">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      Password is required
    </div>
  </div>
  <div class="btn-group">
    <button type="submit" class="btn btn-success" [disabled]="!form.valid" (click)="submit()">Login</button>
    <button type="button" class="btn btn-danger">Cancel</button>
  </div>
</form>
