<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let item of items; index as i">
    <div class="slide">
      <div class="slide__image">
        <img src="./assets/img/coach_{{i + 1}}.jpg">
      </div>
      <div class="slide__content">
        <div>
          <h3>{{i + 1}}</h3>
          <h2>{{item.name}}</h2>
          <p>{{item.direction}}</p>
        </div>
        <div>
          <p>Work experience <span>{{item.workExperience}} years</span></p>
          <p>Teacher for <span>{{item.teachExperience}} years</span></p>
          <p>Style <span>{{item.style.join(', ')}}</span></p>
        </div>
        <a class="button button-red" href="#">Let's start</a>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
